<% if @post.errors.any? %>
	<div class='row'>
		<div class="alert alert-error span8">
			<h5>Please fix following errors: </h5>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

<div class='row'>
	<div class='well span6'>
		<%= form_for @post do |f| %>
			<div class='control-group'>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>
			<div class='control-group'>
				<%= f.label :url %>
				<%= f.text_field :url %>
			</div>
			<div class='control-group'>
				<%= f.label :description %>
				<%= f.text_area :description, rows: 5 %>
			</div>

			<%= f.submit(@post.new_record? ? '發表' : '更新', class: 'btn btn-primary') %>
		<% end %>
	</div>
</div>

