

<p>
  <% @post.categories.each do |category| %>
    <span class='badge'><%= category.name %></span>
  <% end %>

<p class='pull-right'>
	[<%= link_to 'edit this post', edit_post_path(@post) %>]
</p>

</p>
	<%= render 'shared/content_title', title: @post.title %>
<p>
	<%= @post.description %>
</p>