<% all_posts = link_to('All Posts', posts_path) %>
<%= render 'shared/content_title', title: "#{all_posts} &raquo; #{@category.name}".html_safe %>


<% @category.posts.each do |post| %>
   <%= render 'posts/post', post: post %> 
<% end %>