<footer class="footer">
	<small>
		<a href="http://student.coolsea.net">大魏老師的資訊課程</a> by Coolsea
	</small>	

	<nav>
		<ul>
            <li class="pull-right"><a href="#top">Back to top</a></li>
		</ul>
	</nav>
</footer>