<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "大魏靈感集中盒", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "New Post", new_post_path %></li>
						<li>
							<div class='btn-group nav_item'>
								<%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %> Categories <span class='caret'></span>
								<% end %>
								<ul class='dropdown-menu'>
									<% Category.all.each do |category| %>
										<li>
											<%= link_to category.name, category_path(category) %>
										</li>
									<% end %>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>	
		</div>
	</header>